html, body {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline
}

body {
  line-height: 1
}

html, body, #app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
}