.emoji {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.emoji-inline {
  padding: 0;
}

.emojisprite-0 {
  background-image: url("../images/_common/emoji-sprites/emojisprite-0.png");
  background-size: 540px 140px;
}

.emojisprite-1 {
  background-image: url("../images/_common/emoji-sprites/emojisprite-1.png");
  background-size: 580px 80px;
}

.emojisprite-2 {
  background-image: url("../images/_common/emoji-sprites/emojisprite-2.png");
  background-size: 660px 140px;
}

.emojisprite-3 {
  background-image: url("../images/_common/emoji-sprites/emojisprite-3.png");
  background-size: 680px 60px;
}

.emojisprite-4 {
  background-image: url("../images/_common/emoji-sprites/emojisprite-4.png");
  background-size: 680px 140px;
}