.AsideThreadsContextMenu__MenuActionContainer {
  display: inline-flex;
  flex: 1 1 0;
}

.AsideThreadsContextMenu__MobileMenuBack {
  flex: none;
  margin-left: 15px;
}

.AsideThreadsContextMenu__UnpinLine {
  position: absolute;
  content: "";
  width: 24px;
  border-top: 1px solid $color-white;
  border-bottom: 2px solid $color-accent;
  transform: rotate(45deg);
  top: 9px;
  left: 2px;
}
