@import "scope";
@import "../mixin/responsive";

.AsideThreads {
  background-color: $color-primary;
  height: 100%;
  overflow-y: auto;
  z-index: $z-index-1;
}

.AsideThreads--autoZIndex {
  z-index: auto;
}

.AsideThreads--hiddenOverflow {
  overflow: hidden;
}

.AsideThreads__Threads {
  overflow-y: auto;
}

.AsideThreads__Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.AsideThreads__Threads--fullHeight {
  height: 100%;
}

.AsideThreads__AvatarContainer {
  width: calc(100% - 53px);
  overflow: hidden;
}


.AsideThreads__PinOverlay {
  background-color: rgba($color-accent, 0.1);
  border-bottom: 1px solid rgba($color-primary-light, 0.18);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.AsideThreads__ThreadCheck {
  transition: opacity 0.1s ease 0s;
}