@import "scope";
@import "../mixin/responsive";

.AsideThreads {
  background-color: $color-primary;
  height: 100%;
  overflow-y: auto;
  z-index: $z-index-1;
}

.AsideThreads--autoZIndex {
  z-index: auto;
}

.AsideThreads--hiddenOverflow {
  overflow: hidden;
}

.AsideThreads__Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.AsideThreads__GroupsHead {
  justify-content: center;
  display: flex;
}

.AsideThreads__GroupsHeadTextContainer {
  border-radius: 5px;
  padding: 0 10px;
  background-color: rgba($color-accent-dark, .2);
}