.MainMessagesMessage__Control {
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0;
  bottom: 0;
  border-radius: 0 0 5px 5px;
  background-color: lighten($color-background, 3%);
  border-top: 1px solid $color-background;
}

.MainMessagesMessage__Control--mine {
  background-color: #f9fff2;;
}

.MainMessagesMessage__Control--show {
  display: block;
}

.MainMessagesMessage__TriggerIcon,
.MainMessagesMessage__ControlIcon {
  color: $color-gray-dark;
  cursor: pointer;
  transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MainMessagesMessage__OpenTriggerIconContainer {
  display: none;
  z-index: 1;
}

.MainMessagesMessage__OpenTriggerIconContainer--show {
  display: block;
}

.MainMessagesMessage__ControlIcon {
  margin: -10px 5px;
  position: relative;
  top: -5px;
}

.MainMessagesMessage__TriggerIcon:hover,
.MainMessagesMessage__ControlIcon:hover {
  color: $color-accent;
  transform: scale(1.2);
}

.MainMessagesMessage__ControlIconContainer {
  width: 100%;
  text-align: center;
  margin-top: 18px;
}

.MainMessagesMessage__ReplyFragmentImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.MainMessagesMessage__Highlighter {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 100%;
  z-index: 1;
}

.MainMessagesMessage__Highlighter--highlighted {
  height: 100%;
}

.MainMessagesMessage__HighlighterBox {
  height: 100%;
  border-radius: 5px;
  opacity: .3;
  background-color: $color-accent;
}

.MainMessagesMessage__SentIcon {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MainMessagesMessage__SentIcon:hover {
  transform: scale(1.2);
}

.MainMessagesMessage__MenuActionContainer {
  display: inline-flex;
  flex: 1 1 0;
}

.MainMessagesMessage__MobileMenuBack {
  flex: none;
  margin-left: 15px;
}

.MainMessagesMessage__Container {
  padding: 2px 5px;
  min-width: 175px;
}

.MainMessagesMessage__Container--MaxWidth70Percent {
  max-width: 70%;
}

.MainMessagesMessage__Container--MaxWidth60Percent {
  max-width: 60%;
}

.MainMessagesMessage__Container--MaxWidth50Percent {
  max-width: 50%;
}