@import "scope";

.MainFooter {
  order: 3;
  position: relative;
  flex: none;
  width: 100%;
  padding: 10px;
  min-height: 66px;

  background-color: darken($color-background, 5%);
  border-top: 1px solid darken($color-background, 10%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.MainFooter--isMobile {
  background-color: #fff;
  padding: 5px;
  min-height: 56px;
}

.MainFooter__SpamContainer {

}

.MainFooter__InputContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.MainFooter__EmojiIconsContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  overflow: hidden;
  background-color: $color-gray-light;
  margin: 10px -10px -10px -10px;
}

.MainFooter__Input {
  flex-grow: 1;
  max-width: calc(100% - 50px);
}

.MainFooter__Input--recording {
  max-width: 100%;
}

.MainFooter__Attachment {
  cursor: pointer;
}
