@import "scope";
@import "../mixin/responsive";

.MainMessagesFile {

}

.MainMessagesFile__ImageContainer {
  display: block;
}

.MainMessagesFile__FileContainer {
  display: flex;
  align-items: center;
}

.MainMessagesFile__FileContainer--reverseDirection {
  flex-direction: row-reverse;
}

.MainMessagesFile__FileName {
  flex-grow: 1;
  word-break: break-word;
}

.MainMessagesFile__FileControlIcon {
  margin-right: 10px;
  cursor: pointer;
  z-index: 2;
}

.MainMessagesFile__Image {
  max-width: 100%;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.MainMessagesFile__ProgressContainer {
  position: absolute;
  bottom: 2px;
  left: 5px;
  z-index: 1;
  width: calc(100% - 10px);
}

.MainMessagesFile__ProgressContainer--downloading {
  overflow-x: hidden;
  height: 4px;
}

.MainMessagesFile__Progress {
  height: 4px;
  background-color: $color-accent;
  border-radius: 5px;
  transition: width 0.5s ease-in-out;
}

.MainMessagesFile__ProgressLine {
  position: absolute;
  opacity: 0.4;
  background: $color-accent;
  width: 150%;
  height: 4px;
}

.MainMessagesFile__ProgressSubLine {
  position: absolute;
  background: $color-accent;
  height: 4px;
}

.MainMessagesFile__ProgressSubLine--inc {
  animation: increase 2s infinite;
}

.MainMessagesFile__ProgressSubLine--dec {
  animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
  from {
    left: -5%;
    width: 5%;
  }
  to {
    left: 130%;
    width: 100%;
  }
}

@keyframes decrease {
  from {
    left: -80%;
    width: 80%;
  }
  to {
    left: 110%;
    width: 10%;
  }
}

.MainMessagesFile__ImagePaperContainer {
  padding: 0;
}

@include grid("md") {
  :not(.MainMessagesFile__Image--smallVersion).MainMessagesFile__Image {
    max-width: 400px;
  }
}
