.MainPinMessage {
  display: inline-flex;
  position: relative;
  background-color: $color-white;
  border-bottom: 1px solid $color-gray;
  overflow: hidden;
  padding: 10px 0;
  height: 45px;
  width: 100%;
  cursor: pointer;
  order: 1;
  z-index: 1;
}

.MainPinMessage__Message {
  overflow: hidden;
  margin-right: 10px;
  text-overflow: ellipsis;
  flex: 1 1 0;
  display: inline-flex;
}

.MainPinMessage__MessageIcon {
  margin-left: 10px;
  margin-top: 4px;
}

.MainPinMessage__CloseIcon {
  height: 100%;
  width: 50px;
  text-align: center;
}

.MainPinMessage__MessageDetails {
  display: inline-flex;
}

.MainPinMessage__MessageDetails--loading {
  align-items: center;
}

.MainPinMessage__ImageContainer {
  overflow: hidden;
  margin-left: 5px;
}

.MainPinMessage__Image {
  background-size: cover;
  width: 24px;
  height: 24px;
}
