@import "scope";
@import "../mixin/responsive";

.MainMessagesMessageFileImage {
  max-width: 100%;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.MainMessagesMessageFileImage__ModalMediaLink {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: $z-index-3;
}

@include grid("md") {
  :not(.MainMessagesMessageFileImage--smallVersion).MainMessagesMessageFileImage {
    max-width: 400px;
  }
}

