.ModalThreadInfoMessageTypesMedia__FileContainer {
  position: relative;
  padding: 5px;
  border-bottom: 1px solid $color-gray-light;
  cursor: pointer;
}

.ModalThreadInfoMessageTypesMedia__FileNameContainer {
  overflow: hidden;
}