.ModalThreadInfoGroupMain__AdminTextContainer {
  padding: 0 10px;
  border: 1px solid $color-accent;
  margin-left: 15px;
  margin-top: -5px;
  text-align: center;
  width: 42px;
  border-radius: 4px;
  display: inline-block;
}

.ModalThreadInfoGroupMain__SearchInput {
  margin: 5px;
  border-bottom: 2px solid $color-gray;
}


.ModalThreadInfoGroupMain__ImageList {
  display: flex;
  flex-wrap: wrap;
}

.ModalThreadInfoGroupMain__ImageListItem {
  flex-basis: calc(33.33333% - 2px);
  position: relative;
  margin: 1px;
  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}