@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url("./fonts/IRANSansWeb/IRANSansWeb_Bold.eot");
    src: url("./fonts/IRANSansWeb/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/IRANSansWeb/IRANSansWeb_Bold.woff2") format("woff2"),
    url("./fonts/IRANSansWeb/IRANSansWeb_Bold.woff") format("woff"),
    url("./fonts/IRANSansWeb/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url("./fonts/IRANSansWeb/IRANSansWeb_Medium.eot");
    src: url("./fonts/IRANSansWeb/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/IRANSansWeb/IRANSansWeb_Medium.woff2") format("woff2"),
    url("./fonts/IRANSansWeb/IRANSansWeb_Medium.woff") format("woff"),
    url("./fonts/IRANSansWeb/IRANSansWeb_Medium.ttf") format("truetype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url("./fonts/IRANSansWeb/IRANSansWeb_Light.eot");
    src: url("./fonts/IRANSansWeb/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/IRANSansWeb/IRANSansWeb_Light.woff2") format("woff2"),
    url("./fonts/IRANSansWeb/IRANSansWeb_Light.woff") format("woff"),
    url("./fonts/IRANSansWeb/IRANSansWeb_Light.ttf") format("truetype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url("./fonts/IRANSansWeb/IRANSansWeb_UltraLight.eot");
    src: url("./fonts/IRANSansWeb/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"),
    url("./fonts/IRANSansWeb/IRANSansWeb_UltraLight.woff2") format("woff2"),
    url("./fonts/IRANSansWeb/IRANSansWeb_UltraLight.woff") format("woff"),
    url("./fonts/IRANSansWeb/IRANSansWeb_UltraLight.ttf") format("truetype");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/IRANSansWeb/IRANSansWeb.eot");
    src: url("./fonts/IRANSansWeb/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
    url("./fonts/IRANSansWeb/IRANSansWeb.woff2") format("woff2"),
    url("./fonts/IRANSansWeb/IRANSansWeb.woff") format("woff"),
    url("./fonts/IRANSansWeb/IRANSansWeb.ttf") format("truetype");
}
